.card{
    box-shadow: 0px 0px 8px grey;
    width: grey;
    padding: 20px;
    width: fit-content;
    width: 500px;
    border-radius: 10px;
    margin: 150px auto;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border-color: grey;


}
button{
    width: 100%;
    color: white;
    background-color: rgb(102, 177, 209);
    border: none;
    padding: 10px;
    border-radius: 10px;
}